.intro-section {
  .intro-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding: 10px;
  }

    img {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;  
  } 
}
.intro-text {

  h2{
    text-align: center;
    font-family: "Cormorant";
  }
  p{
  text-align: center;
  font-style:normal;
  font-size:medium;
  width: 400px;
  }
}

.Triply-package-title {
   
    h2 {
    font-family: "Cormorant";
    text-align: center;
    }
}

.cities-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

   a {
    text-decoration: none; // tar bort the underline som tillkommer med <a>
    color: inherit;   // makes the caption text keep its color
   }
    
    img {
        @include cities-startsida;  //Använder extend för att återanvända redan befitliga stilar istället för upprepning
    }

    figcaption {
    font-size: 13px;
    font-family: "Cormorant";
    text-align: center;
  }

   a:hover img {
    transform: scale(1.1);   //Ger en inzoomning på bilderna vid hover
    cursor: pointer;  
   }

   a:hover figcaption {
   transform: scale(1.2);
   font-weight:lighter;     
   cursor: pointer;       
   transition: 0.3s ease; 
}
}

// Media queries for larger screens
@media (min-width: 768px) {
  .intro-section {
    .intro-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 900px;
        height: 450px;
      }
    }
  
      .intro-text {
      p {
        font-size: 1.3em;
        text-align: center;
        margin-left: 30px;
      }
    }

    h2{
      margin-left: 70px;
      font-size: 1.6rem;
    }

    h3 {
      margin-left: 15%;
      font-style: italic;
      font-size: 1.2rem;
    }

    figcaption {
    font-size: 20px;
    font-family: "Cormorant";
    text-align: center;
  }
  }
}

  .Triply-package-title {
  
  h2{
  font-size: 1.3rem;
  }
}

  @media (min-width: 768px) {
  .cities-row img {
    width: 260px;
    height: 200px;
  }
}