
@mixin cities-startsida($width: 160px, $height: 100px) {
  width: $width;
  height: $height;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;  
} 
