
/* Mobil */
.packages {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 4rem;

  /* Rubrik */
  h1 {
    text-align: center;
    padding-bottom: 2rem;    
    margin-bottom: 2rem;
    border-bottom: 3px solid $ljusrosa;
  }

  /* paket box */
  .package {
    display: flex;
    flex-direction: column; /* mobil: bild ovanför text */
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid $ljusrosa;

    
    img {
      width: 100%;
      max-width: 450px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      margin: 0 auto 1rem;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

   
    .text {
      width: 100%;
      text-align: left;
      font-family: "cormorant";
      color: #000;

      h2 {
        color: $svart;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.6;
      }

      button {
        background: $rosa;
        border: none;
        color: $svart;
        font-family: "cormorant";
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-top: 0.5rem;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: darken($rosa, 10%);
        }
      }
    }

    &.reverse {
      flex-direction: column-reverse;
    }
  }
}


