
.title-reviews {
  text-align: center;
}

.review-rutor1 {
  @include flex-center-row-wrap;
}

.review-rutor2 {
  @include flex-center-row-wrap;
}

.review-rutor3 {
  @include flex-center-row-wrap;
}

.review-bild {
  @include flex-center-row-wrap;
}

.rosa-review-box {
  background-color: $ljusrosa;
  width: 327px;
  height: 160px;
  margin: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  p {
    font-family: "cormorant";
  }
}

%bilder-stil {
  width: 670px;
  height: 370px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.roslagen {
  @extend %bilder-stil;
}

.körsbär {
  @extend %bilder-stil;
}

.lappland {
  @extend %bilder-stil;
}

.review-text {
  word-wrap: break-word;
}

